<div class="container">
	<div class="jumbotron">
		<div class="row">
			<div class="col-md-1">
			</div>
			<div class="col-md 10">
				<img id="picture" src="/assets/img/burger.png">
				<h1> WELCOME TO GOODBURGER! </h1>
				<h2>HOME of the Goodburger...</h2>
				<h3>may I take your order?</h3>
			</div>
			<div class="col-md-1">
			</div>
		</div>
	</div>

	{{!-- THE ADDED BURGERS NEEDS TO GO TO THE ORDERED BURGERS FIRST WITH THE 'DEVOURED' BUTTON, ONCE CLICKED THE BURGER NEEDS TO THEN GO TO 'BURGERS IN THE BELLY' --}}
	<div>
		<div class="hungry">
			<h2>Ordered burgers...</h2>
			<ul>
				{{#each burgers}} {{#if this.devoured}}
{{!-- THIS BUTTON NEEDS TO FUNCTION ONCE AGAIN --}}
					<button class="devour" data-id="{{id}}">DEVOUR!</button>
				
				{{this.burger_name}} {{/if}} {{/each}}
			</ul>
		</div>

		<br>
		<br>
		<div class="eaten">
			<h2>Burgers in the belly!</h2>
			<ul>
				{{#each burgers}} {{#unless this.devoured}} {{this.burger_name}} {{/unless}} {{/each}}
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-10">
			<p class="lead"> Please type in the name of the burger you want to devour, then... click the submit button. </p>


			<form class="create-update-form" action="goodburgers/create" method="POST">

				<div class="form-group">
					<textarea id="burgerbox" class="form-control input-sm" type="text" name="b_name" rows="3"> </textarea>
				</div>

				<button class="btn btn-default btn-lg" id="BTN" type="submit">
					<strong>Add Burger!</strong>
				</button>
			</form>
		</div>
		<div class="col-md-1">
		</div>
	</div>
</div>
</div>